a {
    text-decoration: none;
    color: lightgrey;
}
.size {
    height: 20rem;
}
.padding-top {
    padding-top: 5rem;
    padding-left: 10px;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 999px;
    margin-right: 50px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.margin-text {
    margin-top: 20px;
}
p {
    text-align: justify;
}